@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
} */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* 
body {
  color: var(--foreground);
  background: var(--background);
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 20px
} */

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* *{
  margin: 0;
  box-sizing: border-box;
  padding:0;
  -webkit-font-smoothing: antialiased;
  font-family: Plus Jakarta Sans, sans-serif;
} */

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  animation: marquee 10s linear infinite;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .section-11 {
    flex-direction: column !important;
    padding-left: 85px !important;
    padding-right: 85px;
  }
}

@media  screen and (max-device-width: 480px) {

  .section-11{
    flex-direction: column !important;
    padding-left: 15px !important;
    padding-right: 15px;
  }

}
@media  screen and (min-device-width: 760px) {

  .responsiveBtnNew{
    display: none !important;
  }

}


#CRO::-webkit-scrollbar , .cms-middle-container::-webkit-scrollbar{
  display: none; 
}


.home-inner-slider {
  min-width: max-content !important;
}

.brix---slider-mask-width-388px {
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
}

.w-nav-overlay {
  height: 0px;
  transition:  all 2s;
}

.w-nav-overlay.curtain-overlay{
  height: 4663px;
}

.w-nav-overlay > nav{
  /* transform: translateY(0px) translateX(0px); 
  transition: height 0.5s, transform 400ms; */
}
